
.contchild{
 
    float: left;
    width: 50%;
    height: 250px;
    line-height: 250px;

    background-color: #37474F;
   
}



#a {
    line-height: 75px;
    height: 75px;
    background-color:#AD1457;
}

#b {
    line-height: 150px;
    height: 150px;
    background-color: #6A1B9A;
}

#c , #d {
    line-height: 125px;
    height: 125px;
  
    background-color:   #FFF59D;

}

#i {
    line-height: 80px;
    height: 80px;
    background-color:   #0091EA    ;
}

